:root {
  --blue: #0074d9;
  --dark-blue: #001f3f;
  --light-blue: #7fdbff;
  --white: #fff;
}
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  font-weight: normal;
  margin: 0;
  padding: 0.5em 0;
}
a {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  color: var(--dark-blue);
}
button {
  padding: 0.5em 1em;
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.25em;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
}
button:hover {
  color: var(--light-blue);
}
input, .editor {
  width: 100%;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid var(--blue);
  box-sizing: border-box;
}
.editor {
  height: 5em;
}
.editor div, .entry-body div {
  margin-top: 0.5em;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 0.25em 0;
}
p {
  margin-top: 0;
}
header {
  background: var(--blue);
  color: var(--white);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: var(--white);
}
header a:hover {
  color: var(--light-blue);
}
